/* NiftyChart.css */
/* .y-axis-chambers-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40px;
  }
  
  .y-axis-chamber {
    height: 100%;
    width: 100%;
    border-right: 2px solid #ccc; 
    box-sizing: border-box;
    position: relative;
  }
   */